body {
  font-family: 'Baloo Bhaina 2', cursive;
  font-size: 14px;
}

main {
  min-height: 82vh;
}

.shop-title-custom {
  margin-left: 25%;
}

.logo-img {
  width: 30px;
}

.logo-text {
  font-size: 24px;
  cursor: pointer;
}

.container-custom > main {
  width: 80%;
  margin: auto;
}

.list-img-custom {
  max-height: 200px;
  height: 100%;
  max-width: 90%;
  object-fit: cover;
  border: 0.5px solid black;
  cursor: pointer;
  box-shadow: 0.2px 0.2px 0.2px 0.2px #888888;
}

.list-img-custom:hover {
  transform: scale(1.01);
}

.card-body-custom {
  cursor: pointer;
}

.card-footer-custom {
  margin-top: -10px;
}

.card-footer-custom > span {
  font-size: 20px;
}

.card-footer-custom-cart {
  margin-top: 70px;
}

.detail-img-custom {
  max-height: 400px;
  height: 100%;
  object-fit: cover;
  border: 0.5px solid black;
}

.load-more {
  cursor: pointer;
}

.back-to-catalog {
  cursor: pointer;
}

.amount-custom {
  font-size: 20px;
}

.card-custom-not-hover {
  box-shadow: 0.2px 0.2px 0.2px 0.2px #888888;
}

.card-custom {
  box-shadow: 0.2px 0.2px 0.2px 0.2px #888888;
}

.card-custom:hover {
  transform: scale(1.01);
  box-shadow: 0.2px 0.2px 0.2px 0.2px #2b2b2b;
  cursor: pointer;
}

.cart-custom {
  font-size: 20px;
  margin-right: 10%;
  margin-top: 5px;
}

.cart-icon-custom, .cart-text-custom {
  cursor: pointer;
}

.cart-img-custom {
  max-height: 225px;
  width: 100%;
  object-fit: cover;
  border: 1px solid black;
}

.cart-summary-custom {
  min-height: 70vh;
}

.address-custom {
  width: 100px;
}

.checkout-title {
  margin-left: 20px;
}

.order-complete-item {
  width: 400px;
}

.order-complete-item-img {
  max-height: 80px;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  object-fit: cover;
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.size-up-down-odd {
  animation: sizeUpDownOdd 0.1s ease-in;
}

.size-up-down-even {
  animation: sizeUpDownEven 0.1s ease-in;
}

@keyframes sizeUpDownOdd {
  0%   {transform: scale(1); }
  50%  {transform: scale(1.2);}
  100% {transform: scale(1);}
}

@keyframes sizeUpDownEven {
  0%   {transform: scale(1);}
  50%  {transform: scale(1.2);}
  100% {transform: scale(1);}
}

@media (max-width: 1199.98px) {
  .shop-title-custom {
    margin-left: 10%;
  }

  .cart-custom {
    margin-right: 5%;
  }

  .container-custom > main {
    width: 90%;
  }
}

@media (max-width: 991.98px) {
  .shop-title-custom {
    margin-left: 5%;
  }

  .cart-custom {
    margin-right: 5%;
  }

  .container-custom > main {
    width: 95%;
  }
}

@media (max-width: 767.98px) {
  .container-custom > main {
    width: 100%;
  }

  .shop-title-custom {
    margin-left: 5%;
  }

  .cart-custom {
    margin-right: 5%;
  }

  .cart-summary-custom {
    width: 90%;
  }

  .card-footer-custom-cart {
    margin-top: 40px;
  }
}

@media (max-width: 575.98px) {
  .logo-text {
    display: none;
  }

  .shop-title-custom {
    margin-left: 2%;
    font-size: 28px;
  }

  .cart-custom {
    margin-right: 1%;
    font-size: 16px;
  }

  .checkout-title {
    margin-left: 0px;
  }

  .card-footer-custom-cart {
    margin-top: 10px;
  }
}
